@model WebApplication1.Models.Pregunta

<!doctype html>
<html>

<body>

    <div class="row">
        <div class="col-sm-4"></div>
    </div>
    <div class="row" id="alls">
        <div class="col-sm-4">
            <script language="javascript" src="~/Content/temporizador.js"></script>
            <link href="~/Content/bootstrap.css" rel="stylesheet" />
            <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
            <link href="~/Content/quiz.css" rel="stylesheet" />
            <link href="~/Content/b1.css" rel="stylesheet" />
            <script src="~/Content/quiz.js"></script>
            <script src="~/Content/questions.js"></script>
            <div>

            </div>
            <div id="quizContainer" class="container">
                <script>
                   function loadnext() {
                       var res = document.getElementById('result');
                            var cont = document.getElementById('quizContainer');
                            var img = document.getElementById('img');
                            var imgs = document.getElementById('imgs');
                            var results = document.getElementById('results');
                            var nextButton = document.getElementById('nextButton');
                            var com = document.getElementById('Comprob');
                       var id = @ViewBag.dx;
                       var sc =@ViewBag.score;
                       id++;
                       score = sc;
                       if (id < 10) {
                           window.location.href = '/Comu/Index?idx=' + id + '&&score=' + score;
                       }
                       if (id === 10) {
                                cont.style.display = 'none';

                                res.style.display = '';
                                results.style.display = '';
                                res.style.display = '';
                                results.style.display = '';
                                com.style.display = '';
                                if (score > 10) {

                                    com.textContent = 'Felicidades!';

                                    results.textContent = 'Saco ' + @ViewBag.score;
                                    img.style.display = '';
                                }

                                if (score <= 10) {

                                    com.textContent = 'Lo sentimos';

                                    results.textContent = 'Saco ' + @ViewBag.score;
                                    imgs.style.display = '';
                                }
                            }

                   }
                </script>
                <script>
                        var id = @ViewBag.dx;
                        var score = 0
                        var sc=@ViewBag.score;
                        function ct() {
                            var res = document.getElementById('result');
                            var cont = document.getElementById('quizContainer');
                            var img = document.getElementById('img');
                            var imgs = document.getElementById('imgs');
                            var results = document.getElementById('results');
                            var resp =@Html.DisplayFor(model => Model.Respuesta);
                            var nextButton = document.getElementById('nextButton');
                            var selectedOption = document.querySelector('input[type=radio]:checked');
                            var com = document.getElementById('Comprob');

                            if (!selectedOption) {
                                alert('Por favor, elija una opción');
                                return;
                            }

                            var answer = selectedOption.value;
                            if (answer == resp) {
                                score = sc + 2;
                            }

                            if (answer != resp) {
                                score = sc;
                            }
                            selectedOption.checked = false;
                            id++;
                            if (id < 10) {
                                window.location.href = '/Comu/Index?idx=' + id +'&&score=' + score;
                            }

                            if (id === 9) {
                                nextButton.textContent = 'Finalizar';
                            }
                            if (id === 10) {
                                cont.style.display = 'none';

                                res.style.display = '';
                                results.style.display = '';
                                res.style.display = '';
                                results.style.display = '';
                                com.style.display = '';
                                if (score > 10) {

                                    com.textContent = 'Felicidades!';

                                    results.textContent = 'Saco ' + @ViewBag.score;
                                    img.style.display = '';
                                }

                                if (score <= 10) {

                                    com.textContent = 'Lo sentimos';

                                    results.textContent = 'Saco ' + @ViewBag.score;
                                    imgs.style.display = '';
                                }
                            }
                        }
                </script>
                <div id="contador" align="center" class="contador">
                    @Html.DisplayFor(Model => Model.contador, new { id = "contador" })
                </div>
                <script>
                        var c = document.getElementById('contador');
                        var sg = @Html.DisplayFor(model => Model.contador);

                        function cuenta() {
                            window.setInterval(
                                function () {

                                    if (sg >= 0 && sg <= 10) {
                                        c.style.color = 'red';
                                    }

                                    if (sg > 10) {
                                        c.style.color = 'white';
                                    }

                                    if (sg === 0) {
                                        loadnext();
                                    }

                                    c.innerHTML = sg;
                                    sg--;
                                }, 1000);
                        }

                        cuenta();
                </script>
                <h3 id="question" class="question" style="font-size:30px;color:#000000">
                    @Html.DisplayFor(model => Model.pregunta)
                </h3>
                <label class="option">
                    <input type="radio" name="option" value="1">
                    @Html.DisplayFor(model => Model.opt1, new { id = "opt1" })
                </label>

                <label class="option">
                    <input type="radio" name="option" value="2">
                    @Html.DisplayFor(model => Model.opt2, new { id = "opt2" })
                </label>

                <label class="option">
                    <input type="radio" name="option" value="3">
                    @Html.DisplayFor(model => Model.opt3, new { id = "opt3" })
                </label>

                <label class="option">
                    <input type="radio" name="option" value="4">
                    @Html.DisplayFor(model => Model.opt4, new { id = "opt4" })
                </label>




                <button id="nextButton" class="next-btn" onclick="ct();">Siguiente</button>
            </div>
            <div id="result" class="container result" style="display: none;color:#000000"></div>
            <label id="Comprob" class="container result" style="display: none; color:#000000; margin-top:-80%"></label>
            <h1 id="hz" style="display: none"></h1>
            <div style="display:none" id="img">
                <img src="~/Content/aprobao.gif" width="70%" style="margin-top:20%;margin-left:115%" />
            </div>
            <div style="display:none" id="imgs">
                <img src="~/Content/reprobado.gif" width="70%" style="margin-top:20%;margin-left:115%" />
            </div>
            <div id="results" class="container result" style="display: none;color:#000000">
                <button id="nextButton" class="next-btn" style="float:left" onclick="location.href='/SubMeny/Index'">Volver</button>
                <button id="nextButton" class="next-btn" style="float:right" onclick="location.href='/Comu/Index'">Reintentar</button>
            </div>

        </div>
    </div>

</body>
</html>

